
<div class="container">
    <div class="row">
        <div class="col-lg-4" data-aos="fade-right">

            <img src="~/Image/Falcon-2.jpg" />
            @*<img src="image/Falcon-2.jpg" class="img-fluid" alt="">*@
        </div>
        <div class="col-6">
            <br />
            <br />
            <br />
            <br />
            <p>
                I’ve always loved logic puzzles and problem solving, so is it any wonder that I fell into “bleeding-edge” software development early in my career?  While others were honing their AS400 skills, I was sitting at the cool kids table speaking SQL, trying to force VB to be object-oriented, and attempting to create web-based enterprise applications in the mid 90s.   I left the career world in 2000 and eventually restarted my professional life by successfully adapting my skills to other industries.  Yet, I never stopped pining for my first love – software development. I updated my skills as a .NET developer fullstack  in 2020.  Now I offer new school skills with old school logic and experience.
            </p>
        </div>

        </div>
</div>